<nav class="navbar" id="estilo1">
  <div id="head-navbar"></div>
    <div class="container-fluid">

        <a class="navbar-brand" href="https://universidadean.edu.co" target="_blank">
            <img src="../../../../assets/logo-horizontal-es.png" alt="Logo Universidad Ean" id="logo" class="img-fluid d-inline-block align-top d-none d-sm-block">
        </a>

        <form class="d-flex">
            <div class="btn-group">
                <div class="container">
                    <div class="row" style="display: flex; align-items: center; color: white;">
                        <div id='usuario'>
                          <span title="Administrador"><img src="../../../../assets/icons/usuario-de-perfil.png" style="width: 30px;" alt="icono-perfil">
                            &nbsp; Administrador&nbsp;&nbsp;&nbsp;&nbsp;
                          </span>
                            <img src="../../../../assets/icons/cerrar-sesion.png" style="width: 30px;cursor: pointer;" title="Cerrar sesión" alt="icono-cerrar" (click)="cerrarSesion()">
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</nav>
